<.simple_form for={%{}} phx-submit="save">
  <.input field=":title" label="Title" />
  <textarea id="form_description" name=":description"></textarea>
  <input id="form_start_date" name=":form_start_date" type="date" value="" />
  <:actions>
    <.button>Save</.button>
  </:actions>
</.simple_form>
