<.header>
  Edit Event <%= @event.id %>
  <:subtitle>Use this form to manage event records in your database.</:subtitle>
</.header>

<.event_form changeset={@changeset} action={~p"/events/#{@event}"} />

<%= if assigns[:modal]==nil  do %>
  <.back navigate={~p"/"}>Back to events</.back>
<% end %>
