<.header>
  Listing Events
  <:actions>
    <.button phx-click={show_modal("new-event")}>New</.button>
    <.modal id="new-event">
      <.new modal="true" changeset={CalendarTest.Events.change_event(%CalendarTest.Events.Event{})} />
    </.modal>
  </:actions>
</.header>

<.table id="events" rows={@events} row_click={&JS.navigate(~p"/events/#{&1}")}>
  <:col :let={event} label="Title"><%= event.title %></:col>
  <:col :let={event} label="Description"><%= event.description %></:col>
  <:col :let={event} label="Starting date"><%= event.starting_date %></:col>
  <:col :let={event} label="End date"><%= event.end_date %></:col>
  <:action :let={event}>
    <div class="sr-only">
      <.link navigate={~p"/events/#{event}"}>Show</.link>
    </div>
    <.button phx-click={show_modal("user-modal-#{event.id}")}>Edit</.button>
    <.modal id={"user-modal-#{event.id}"}>
      <.edit modal="true"
        changeset={CalendarTest.Events.change_event(CalendarTest.Events.get_event!(event.id))}
        event={event}
      />
    </.modal>
  </:action>

  <:action :let={event}>
    <.link href={~p"/events/#{event}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
